<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- hibernate config -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/PCShowcaseDB</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.zeynep.repository.entity.Computer"></mapping>
        <mapping class="com.zeynep.repository.entity.ComputerSpec"></mapping>
        <mapping class="com.zeynep.repository.entity.Like"></mapping>
        <mapping class="com.zeynep.repository.entity.Post"></mapping>
        <mapping class="com.zeynep.repository.entity.User"></mapping>
        <mapping class="com.zeynep.repository.entity.Timeline"></mapping>
        <mapping class="com.zeynep.repository.entity.Photo"></mapping>

    </session-factory>
</hibernate-configuration>